<!DOCTYPE html>
<html ng-app="proxy" ng-controller="main">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>简易反向代理</title>
  <!-- css -->
  <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="ui container" ng-cloak>
  <div class="ui secondary pointing main menu">
    <div class="header item">简易反向代理</div>
    <div class="right menu">
      <div class="item">
        <img class="ui avatar image" ng-src="{{user.avatar || 'img/logo.png'}}">
        <span ng-bind="user.name || '游客'"></span>
      </div>
      <a class="icon pointer item" href="/wechat/logout">
        <i class="sign out icon"></i>
      </a>
    </div>
  </div>
  <div class="ui icon message">
    <i class="announcement icon"></i>
    <div class="content">
      <div class="header">
        请先将您的域名CNAME别名解析到
        <div class="ui teal horizontal label">{{host}}</div>
      </div>
      <p>如没有域名，也可使用形如 xxx.{{host}} 的域名 (xxx为自定义前缀)</p>
    </div>
    <button class="ui teal button" ng-click="edit()">添加</button>
  </div>
  <div class="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="ui yellow message" ng-show="!loading && error">
    <div ng-bind="error"></div>
  </div>
  <div ng-show="!loading && !error && list && list.length">
    <div class="ui fluid icon input">
      <input type="text" placeholder="搜索..." ng-model="filter">
      <i class="search icon"></i>
    </div>
    <table class="ui teal striped unstackable celled center aligned sortable table">
      <thead>
        <tr>
          <th ng-click="by = (name == 'mark')? !by:false; name = 'mark';">
            名称 <i class="sort icon"></i>
          </th>
          <th ng-click="by = (name == 'domain')? !by:false; name = 'domain';">
            域名 <i class="sort icon"></i>
          </th>
          <th ng-click="by = (name == 'target')? !by:false; name = 'target';">
            回源地址 <i class="sort icon"></i>
          </th>
          <th ng-click="by = (name == 'target_type')? !by:false; name = 'target_type';">
            回源方式 <i class="sort icon"></i>
          </th>
          <th ng-click="by = (name == 'proxy_type')? !by:false; name = 'proxy_type';">
            请求方式 <i class="sort icon"></i>
          </th>
          <th>编辑</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody ng-init="name = 'time'; by = 'false'">
        <tr ng-repeat="item in list | filter:filter | orderBy:name:by">
          <td ng-bind="item.mark"></td>
          <td ng-if="item.proxy_type === 'HTTP_ONLY'">
            <a target="_blank" ng-href="http://{{item.domain}}" ng-bind="item.domain"></a>
          </td>
          <td ng-if="item.proxy_type !== 'HTTP_ONLY'">
            <a target="_blank" ng-href="https://{{item.domain}}" ng-bind="item.domain"></a>
          </td>
          <td ng-bind="item.target"></td>
          <td ng-bind="item.target_type"></td>
          <td ng-bind="item.proxy_type"></td>
          <td ng-click="edit(item)">
            <i class="edit large pointer teal icon"></i>
          </td>
          <td ng-click="delete(item)">
            <i class="remove circle outline pointer large red icon"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form class="ui small modal form">
    <i class="close icon"></i>
    <div class="header" ng-bind="{'PUT':'新增反向代理', 'POST':'编辑反向代理'}[edit_item.method]"></div>
    <div class="content">
      <div class="field">
        <label>名称</label>
        <input type="text" name="mark" ng-model="edit_item.mark" placeholder="反向代理名称，便于识别与区分">
      </div>
      <div class="field">
        <label>域名</label>
        <input type="text" name="domain" ng-model="edit_item.domain" placeholder="用作反向代理的域名，形如：proxy.ticknet.cn (不管几级域名，不带协议及端口)">
      </div>
      <div class="field">
        <label>回源地址</label>
        <input type="text" name="target" ng-model="edit_item.target" placeholder="反向代理的上游地址，形如：192.168.1.100:3000 (可为域名或IP，不带协议，端口可选)">
      </div>
      <div class="field">
        <label>回源Host</label>
        <input type="text" name="hostname" ng-model="edit_item.hostname" placeholder="设置在请求头中的 HostName，上游服务器可能需要">
      </div>
      <div class="field">
        <label>回源方式</label>
        <div class="ui selection target_type dropdown">
          <input type="hidden" name="target_type">
          <i class="dropdown icon"></i>
          <div class="default text">回源的方式，可选 HTTP 或 HTTPS</div>
          <div class="menu">
            <div class="item" data-value="HTTP" ng-click="edit_item.target_type = 'HTTP'">HTTP</div>
            <div class="item" data-value="HTTPS" ng-click="edit_item.target_type = 'HTTPS'">HTTPS</div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>请求方式</label>
        <div class="ui selection proxy_type dropdown">
          <input type="hidden" name="proxy_type">
          <i class="dropdown icon"></i>
          <div class="default text">允许的请求方式</div>
          <div class="menu">
            <div class="item" data-value="BOTH" ng-click="edit_item.proxy_type = 'BOTH'">HTTP 与 HTTPS 都可以访问</div>
            <div class="item" data-value="HTTP_ONLY" ng-click="edit_item.proxy_type = 'HTTP_ONLY'">只允许 HTTP 协议访问</div>
            <div class="item" data-value="HTTPS_ONLY" ng-click="edit_item.proxy_type = 'HTTPS_ONLY'">只允许 HTTPS 协议访问</div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>HTTPS 证书</label>
        <textarea name="cert" ng-model="edit_item.cert" placeholder="HTTPS 证书，HTTP_ONLY 时可不填写"></textarea>
      </div>
      <div class="field">
        <label>HTTPS 私钥</label>
        <textarea name="key" ng-model="edit_item.key" placeholder="HTTPS 私钥，HTTP_ONLY 时可不填写"></textarea>
      </div>
      <div class="ui yellow message" ng-if="edit_item.error" ng-bind="edit_item.error"></div>
    </div>
    <div class="actions">
      <div class="ui deny orange button">取消</div>
      <div class="ui submit teal button" ng-class="{loading:edit_item.loading}">保存</div>
    </div>
  </form>
  <!-- js -->
  <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
  <script src="//cdn.bootcss.com/angular.js/1.2.28/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
