<!DOCTYPE html>
<html ng-app="proxy" ng-controller="main">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>简易内网代理系统</title>
  <!-- css -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body class="ui container" ng-cloak>
  <div class="ui secondary pointing main menu">
    <div class="header item">简易内网代理系统</div>
    <div class="right menu">
      <div class="item">
        <img class="ui avatar image" ng-src="{{user.avatar || 'images/logo.png'}}">
        <span ng-bind="user.name || '游客'"></span>
      </div>
      <a class="icon pointer item" href="/wechat/logout">
        <i class="sign out icon"></i>
      </a>
    </div>
  </div>
  <div class="ui icon message">
    <i class="announcement icon"></i>
    <div class="content">
      <div class="header">
        请先将您的域名CNAME别名解析到
        <div class="ui teal horizontal label">proxy.ticknet.cn</div>
      </div>
      <p>由于学校网络环境问题，部分内网IP可能会代理失败</p>
    </div>
    <button class="ui teal button" ng-click="edit()">添加</button>
  </div>
  <div class="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="ui yellow message" ng-show="!loading && error">
    <div ng-bind="error"></div>
  </div>
  <div ng-show="!loading && !error && data && data.length">
    <table class="ui teal striped unstackable celled center aligned attached table">
      <thead>
        <tr>
          <th>用户</th>
          <th>名称</th>
          <th>域名</th>
          <th>内网地址</th>
          <th>
            计次 <i class="help circle icon" data-content="资源请求个数，非访问次数，一次访问可能请求多个文件，计次存在5分钟延迟"></i>
          </th>
          <th>编辑</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in data">
          <td ng-bind="item.sid"></td>
          <td ng-bind="item.mark"></td>
          <td ng-bind="item.domain"></td>
          <td ng-bind="item.target"></td>
          <td ng-bind="item.count"></td>
          <td ng-click="edit(item)">
            <i class="edit large pointer teal icon"></i>
          </td>
          <td ng-click="delete(item)">
            <i class="remove circle outline pointer large red icon"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form class="ui small modal form">
    <i class="close icon"></i>
    <div class="header" ng-bind="{'PUT':'新增反向代理', 'POST':'编辑反向代理'}[editItem.method]"></div>
    <div class="content">
      <div class="field">
        <label>名称</label>
        <input type="text" name="mark" ng-model="editItem.mark" placeholder="反向代理名称，便于识别与区分">
      </div>
      <div class="field">
        <label>域名</label>
        <input type="text" name="domain" ng-model="editItem.domain" placeholder="用作反向代理的域名，形如：x.abc.cn (不管几级域名，不要带协议及端口)">
      </div>
      <div class="field">
        <label>内网地址</label>
        <input type="text" name="target" ng-model="editItem.target" placeholder="映射内网的地址，形如：192.168.1.100:3000 (可为域名或IP，不带协议，端口可选)">
      </div>
      <div class="ui yellow message" ng-if="editItem.error" ng-bind="editItem.error"></div>
    </div>
    <div class="actions">
      <div class="ui deny orange button">取消</div>
      <div class="ui submit teal button" ng-class="{loading:editItem.loading}">保存</div>
    </div>
  </form>
  <!-- js -->
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
  <script src="http://cdn.bootcss.com/angular.js/1.2.28/angular.min.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>